/************ Custom Font ************/


/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {

  scroll-behavior: smooth;
  scroll-padding-top: 75px;
  overflow-x: clip;
}


body {
  /* font-weight: 400; */
  overflow-x: clip;
  position: relative;

  background-color: black !important;
  color: #fff !important;

  font-family: 'Plus Jakarta Sans';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

@media (min-width:1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}

p.success {
  color: green;
}

p.danger {
  color: red;
}

.heading {
  color: white;
}

/* .App{
  background-color: #000;
} */

/************ Navbar Css ************/
nav.navbar {
  /* padding: 18px 0; */
  position: sticky;
  /* width: 100vw; */
  top: 0;
  /* border: 2px solid white; */
  margin-bottom: 0;
  padding: 10px;
  z-index: 9999;
  /* border: 2px solid wheat; */
  transition: 0.32s ease-in-out;
  font-family: 'Plus Jakarta Sans';
}

nav.navbar.scrolled {
  /* padding: 0px 0; */
  background-color: black;
}

nav.navbar a.navbar-brand {
  width: 100%;
  text-decoration: None;
  color:white;
  align-content: center;
}

.nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 20px 20px;
  margin-bottom: 0px;
  font-size: 15px;
  opacity: 0.5;
}

.navbar img {
  width: 125px;
  height: auto;
}

.nav-tog {
  display: none;
}

@media screen and (max-width:814px) {
  .nav-options {
    display: none;
  }

  .nav-tog {
    display: block;
  }
}

.nav-link.navbar-link:hover,
.nav-link.navbar-link.active {
  /* border-bottom: 2px solid white; */
  opacity: 1;
}

span.navbar-text {
  display: flex;
  align-items: center;
}



nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}

nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid #fff;
}

.nav-option {
  margin: 0;
  opacity: 0.75;
}

.nav-option:hover,
.nav-option:active {
  border-bottom: 1px solid white;
  opacity: 1;
}

nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: #fff;
  top: 0;
  left: 0;
  content: '';
  z-index: 2;
  transition: all 300ms linear;
}

nav.navbar .navbar-toggler-icon:after {
  top: 8px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  background-color: #fff;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
  background-color: #fff;
  height: 2px;
}


.navHeadings {
  width: 100%;
}

/************ Banner Css ************/

.banner {
  display: flex;
  align-items: center;
  font-family: sans-serif;
  padding: 100px;
  /* height: 100vh; */
  width: 100%;
  text-align: justify;
  
}
.load-more {
  text-align: center;
}

.banner__left {
  padding: 20px;
  text-align: left;

}

.banner__left img {
  padding: 20px;

}

.banner__left p {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1.5;
  padding: 40px;
}

.banner__right {
  /* margin: 20px; */
  /* padding: 50px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.vvd {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

.vvd>span {
  z-index: 2;
}

.vvd::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: rgb(221, 53, 42);
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out !important;
}

.vvd:hover {
  color: white;
}

.vvd:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}

.fixedBack {
  display: flex;
  /* position: relative; */
  /* padding: auto; */
  padding: 2vw;
  /* align-items: center; */
  height: 100vh;
  background-color: #000;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;

  background-image: url(../src/assets/img/rever3.jpg) ;
  /* background-color: #000; */
  /* border: 2px solid orange; */

  /* background-attachment: fixed; */
}
.buyTicketForm{
  font-family: 'Plus Jakarta Sans';

}
@media screen and (min-width:1025px) {
  .fixedBack{
    background-attachment: fixed;
  }
   
}
@media screen and (max-width:1024px) {
  .fixedBack{
    background-position: center center;
    background-size: cover;
    flex-direction: column;
  }
  .events{
    width: 80%;
  }
}
@media screen and (max-width:767px) {
  .fixedBack{
    flex-direction: column;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../src/assets/img/rever3.jpg) ;
  }
  .events{
    width: 80%;
  }

  .banner {
    display: flex;
    align-items: center;
    font-family: 'Plus Jakarta Sans';
    padding: 40px;
    /* height: 100vh; */
    width: 100%;
    text-align: justify;
    
  }
  
@media (max-width: 767px) {
  .hide-details {
    display: none;
  }

  .load-more {
    text-align: center;
    margin-top: 20px;
  }

  .load-more-button {
    border: 1px solid #fff;
    color: #fff;
    padding: 18px 59px;
    font-size: 18px;
    background: linear-gradient(to right, transparent 50%, #8c8e8f 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    border-radius: 4px;
    cursor: pointer;
  }

  .load-more-button:hover {
    background-color: #0056b3;
  }
}
  .about__ted {
    font-size: 17px;
    font-weight: 100;
    text-align: justify;
    padding: 20px;
    font-family: Poppins, sans-serif !important;
  }
  
}

@media (min-width: 768px) {
  .load-more-button {
    display: none;
  }
}

/* .fixedBack__heading {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
 
} */


.heading__mobile h1 {
  color: white;
  font-size: 4rem;
  font-family: "HelveticaNeueLTStd", sans-serif;
  font-weight: 900;
}
.headingmain{
  display: flex;
  flex-direction: column;
  align-items: start;
}
.heading__mobile2 h1 {
  color: white;
  font-size: 2rem;
  font-family: Poppins, sans-serif;
  font-weight: 600;
}


/************ Theme Css ************/

.theme__page {
  background-color: black;
  font-family: 'Plus Jakarta Sans';
/* display: flex; */
align-items: center;
/* height: 100vh; */
}

.theme__heading {
  /* transform: rotate(-90deg); */
  /* transform: rotate(-90deg); */
  /* transform-origin: top left; */
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

}

.theme__heading h1 {
  /* border: 2px solid red; */
  color: #E62B1E;
  /* transform: rotate(-90deg); */
  transform: rotate(45deg);
  border-bottom: 1px solid white;
  margin-left: 50px;
  transform-origin: top left;
  font-family: "HelveticaNeueLTStd", sans-serif;
  font-size: 40px;
  font-weight: 900;
  text-transform: none;
  letter-spacing: -1px;
}


/* .theme-image{
  background: url('../src/assets/websiteImage.png');

}
*/


.theme-image iframe{
  height: 80%;
  width: 100%;
  margin-left: 5px;
}


@media screen and (max-width: 767px) {
  .theme-image{
    width:100vw;
    height: 300px;
  }
}
.sidenav {
  /* height: 100%; */
  /* border: 2px solid red; */
  /* overflow-x: hidden; */
  /* margin: 50px; */
  /* padding: 100px; */

}
.formGroup{
  /* background: url(../src/components/ticketForm.png) no-repeat center center/cover;
  height: 200px;
  width: auto; */
}

.main {
  /* padding: 0px 10px; */
  padding: 10px;
  height: 100%;
}

/* @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
} */

/* @media screen and (max-width: 450px) {
  .theme-text{
      margin-top: 10%;
  }

  .register-form{
      margin-top: 10%;
  }
} */

/* @media screen and (min-width: 768px){
  

  .sidenav{
    border: 2px solid white;
      width: 40%;
     
   
  }

  .theme-text{
      margin-top: 80%;
  }

  .register-form{
      margin-top: 20%;
  }
} */

.theme-text {
  font-size: 18px;
  /* display: flex; */
  /* border: 2px solid orange; */
  background-color: #000;
  text-align: justify;
  /* height: 100%; */
  /* align-items: center; */
  color: gray;
  padding: 40px;
  /* width:100%; */
  /* border-left: 2px solid red; */
  font-family: sans-serif;
}

.theme-last {
  background-color: black;
  /* position: sticky; */
  /* right: 50px; */
  display: flex;
  padding: 30px;


  align-items: center;
  justify-content: center;
  background: url(../src/assets/img/Reverberated-180.png) no-repeat center center/cover;
  /* z-index: 2; */
}

.theme-last h1 {
  font-family: "HelveticaNeueLTStd", sans-serif;
  font-style: normal;
  font-weight: 900;
  display: none;
  font-size: 40px;
  line-height: 40px;
  /* padding: 5px; */
  /* identical to box height, or 160% */

  /* display: flex;
  align-items: center; */
  /* text-align: center; */
  /* letter-spacing: 0.2em; */

  color: lightgray;

  transform: rotate(0deg);
}
.theme-last h1 span{
 

    color: #DD352A;
  
}

.login-main-text {
  /* margin-top: 20%; */
  /* padding: 60px; */
  color: #fff;
  background: url(../src/components/websiteImage.png);
}

/* .login-main-text h2{
  font-weight: 300;
} */

.btn-black {
  background-color: #000 !important;
  color: #fff;
}

/************ About Css ************/

.about__page {
  /* width: 100vw; */
  /* height: 120vh; */
  /* border: 1px solid red; */
  background-color: lightgray;
  font-family: 'Plus Jakarta Sans';
  color: black;
  padding: 20px;
  /* margin-top: 100px; */
  /* /* align-items: center; */
  /* display: flex;
  align-items: center; */
  /* justify-content: space-between;
  align-items: center; */
}

.about__us {
  /* width: 20%;
  height: 100%;
  display: flex;
  align-items: flex-end; */
  /* border:1px solid black; */
  /* justify-content: flex-start; */
  /* transform: rotate(-90deg); */
  /* width: 100%; */
  /* height: 100%; */
  /* transform: rotate(-90deg); */
  /* display: flex;
  justify-content: flex-start; */
  /* left: 0;
  position: absolute; */
  /* border-bottom: 1px solid red; */
  /* transform: rotate(-90deg); */
}

/* .about__us h1 {

  margin-left: 40px;
  color: black;
  transform: rotate(-90deg);
  transform-origin: top left;
  font-family: "HelveticaNeueLTStd", Sans-serif;
  font-size: 120px;
  font-weight: 900;
  text-transform: none;
  letter-spacing: -1px;
} */

.about {
  /* width: 80%; */
  /* height: 100%; */
  /* display: flex;
  align-items: center; */
  /* border: 1px solid black; */
  /* height: 100vh; */
  /* display: flex;
  align-items: center; */
  /* margin-top: 100px; */
}

.vertical-text {
  transform: rotate(-90deg);
  /* transform-origin: top left; */
  font-size: 110px;
  font-family: "HelveticaNeueLTStd", sans-serif;
  /* font-weight: 900; */
  letter-spacing: -0.5px;
  /* margin-left: 0px; */
  margin-bottom: -13px;
}

.white-text{
  color:white;
  padding:10px;
  margin-bottom: -0.5rem
}

.center-heading{
  color:white;
  text-align: center;
  padding:10px;
}
@media screen and (max-width: 991px) {
  .vertical-text {
    transform: rotate(0deg);
    text-align: center;
    font-size: 15vw;
  }

  .theme-last h1{
    display: block;

    /* text-align: center; */
  }
  .theme-last{
    background: none;
  }
}
@media screen and (min-width:1690px) {
  .vertical-text{
    font-size: 100px;
    margin-bottom: 2px;
  }
}

.about__blocks {
  /* height: fit-content; */
  padding: 30px;
  text-align: justify;
  /* line-height: 100px; */
  /* font-size: 15px; */
  background-color: white
  /* border: 2px solid red; */
  /* margin-top: 50px; */
  /* display: flex; */
  /* border: 1px solid black; */

}

.what {
  color: grey;
  font-family: "HelveticaNeueLTStd", sans-serif;
  font-weight: 900;
  /* width:100vh; */
}

.about__ted {
  font-size: 17px;
  font-weight: 100;
  text-align: justify;
  padding: 50px;
  font-family: sans-serif;
}

.theme__page {
  /* border: 10px solid red; */
  padding:60px;

}

.about_heading {
  text-align: center;
  font-family: "HelveticaNeueLTStd", sans-serif;
  color:#8c8e8f;
  font-weight: 900;
  font-size: 30px;

}

.clg-name {
  font-weight: 500;
  color: #000;
}

.test_box {
  width: 100px;
  height: 100px;
  background-color: red;

}

.test_box:hover {
  animation-name: increase;
  animation-duration: 4s;
  animation-delay: 1s;
}

@keyframes increase {
  0% {
    width: 100px;
  }

  100% {
    width: 100vw;
  }
}

/************ Connect Css ************/
.connect {
  /* display: flex;
  align-items: center;
  background-color: #000;
  justify-content: space-between; */
  font-family: 'Plus Jakarta Sans';
  /* border-bottom: 0.01px solid lightgray; */
  /* padding: 20px; */
  padding-left: 40px;
  padding-right: 40px;
  /* box-shadow: 2px white; */
  background: url("https://freight.cargo.site/w/1200/i/f2db8f16ac29f033480423bc1336155b00fde20482cf0a66131407504efcb0aa/black-BG.jpg") center center/cover;
  /* overflow-x: hidden; */
}

.connect__left {
  /* font-family: 'Roboto', sans-serif; */
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  align-items: flex-start;
  justify-content: center;
  /* padding-left: 50px; */
  /* border: 2px solid red; */
  padding: 20px;
  /* flex: 0.5; */
}

@media screen and (max-width: 767px) {
  .connect__left {
    align-items: center;
  }

  .heading__mobile h1 {
    font-size: 10vw;
  }
}

.bookTicketBtn{
  text-decoration: none;
}
/* .connect__left_staticText{
  position: relative;
  top: 0;
} */
.connect__left_dynamicText {
  font-weight: 800;
  color: #E62B1E;
  font-family: 'Plus Jakarta Sans';
}

.connect__right {
  /* padding: 100px; */
  padding: 30px;
  padding-left: 0px;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* flex: 0.5; */
  /* justify-content: space-between; */
}

/* .connect__right > p{
  margin-left: 0px;
} */
.connect__right_text {
  color: darkgray;
  /* border: 2px solid green; */
  padding: 20px;
  /* margin: 0; */
  /* border: 2px solid red; */
  font-size: large;
}

.email__section {
  /* display: flex; */
  padding: 20px;
  /* width: 100%; */
  /* justify-content: space-between; */
}

.email__section input {
  padding: 10px;
  /* margin: 10px; */
  font-size: large;
  color: white;
  background-color: black;
  box-shadow: #000;
  /* flex: 0.45; */
}

.connect__left_staticText {
  /* font-family: 'Baloo Paaji 2', cursive ; */
}

.email__section button {
  /* margin-top: 2px; */
  /* height: 20%; */
  background-color: #E62B1E;
  color: black;
  /* flex: 0.45; */
}

.email__section button:hover {
  background-color: red;
  box-shadow: 5px 10px 8px #888888;

}

/************ Footer Css ************/
/************ Footer Css ************/
.foot {
  /* background-color: #111111;
   */
  background-color: #1A1A1A;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 16px;
  font-family: 'Plus Jakarta Sans';
  border-top: 1px solid white;
}





.social-icon {
  display: flex;
  align-items: center;
  /* margin-left: 14px; */
}

.social-icon a {
  width: 42px;
  height: 42px;
  background: black;
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: rgb(221, 53, 42);
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
  transform: scale(1);
}

.social-icon a img {
  width: 40%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.social-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}


.copyright {
  background-color: #4f4c4c;
  display: flex;
  align-items: center;
  font-family: 'Plus Jakarta Sans';
  justify-content: center;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

.copyright p {
  font-weight: 400;
  font-size: 16px;
  color: #B8B8B8;
  letter-spacing: 0.5px;
  /* margin-top: 20px; */
}

/* Team Card */


.profile {
  /* opacity: 0.75; */
  width: 300px;
  height: 300px;
  position: relative;
  border-radius: 50%;
  background: url('https://t3.ftcdn.net/jpg/03/97/85/42/360_F_397854228_zz5opDirIXiSjAlcEs581MYcEghYzxeo.jpg') no-repeat center center/cover;
  display: grid;
  justify-content: center;
  margin: 20px;
  align-content: center;
  transition: 0.35s;
  /* z-index: 1000; */
}

.pro_img {
  width: 220px;
  height: 220px;
  position: relative;
  border: 2px solid #000;
  border-radius: 50%;
  transition: 0.35s;
  transition-delay: 0.35s;
  z-index: 10;
}

.pos {
  color: white;
}

.makeitred {
  color: #8c8e8f;
}
.redback{
  background-color: #37d72b; 
}

.dtl {
  position: absolute;
  width: 100%;
  top: 25%;
  transition: 0.35s;
  transition-delay: 0.35s;
}

.name {
  /* font-family: 'Baloo Paaji 2', cursive ; */
  font-size: 25px;
  text-align: center;
  margin-top: 30px;
  display: none;
  /* color: white; */
}

.bio {
  /* font-family: 'Baloo Paaji 2', cursive ; */
  font-size: 20px;
  text-align: center;
  margin-top: 5px;
  display: none;
  color: #fff;
  background-color: black;
  /* color: white; */
}

.social {
  z-index: 1;
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bi {
  width: 22px;
  height: 22px;
  padding: 7px;
  transition: 0.3s;
  cursor: pointer;
}

.bi:hover {
  transform: translateY(-5px);
}

.fb:hover {
  fill: #009ef9;
}

.yt:hover {
  fill: red;
}

.ins:hover {
  fill: #ff009d;
}



.profile:hover {
  border-radius: 17px;
  height: 380px;
}

.profile:hover .pro_img {
  border-color: #AEAEAE;
  border-radius: 17px;
  margin-top: -230px;
}

.profile:hover .dtl {
  top: 50%;
}

.profile:hover .name {
  /* transition: 0.2s; */
  display: block;
  color: #000;
}

.profile:hover .bio {
  display: block;

}

.team__card {}

.message {
  padding: 10px;
}

/* Conferences Theme Section */
.maintheme {
  height: 120vh;
  width: 100vw;
  background-color: #000;
}

.inside {
  display: flex;
  justify-content: center;
}

.speaker__header {
  background-color: #F13531;
  color: white;
  /* border-bottom: 1px solid white; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100vw; */
  padding: 10px;
}

/* .maintheme__left{
  height: 100%;
  display: flex;
  align-items: center; */
/* border: 2px solid white; */
/* } */
/* .maintheme__right{ */
/* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

/* Sponsors CSS */
.sponsors {
  height: 90vh;
  

  /* background: white; */
  background: url(../src/assets/img/bg-sponsors.png) no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.sponsors__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  /* background: rgba(217, 217, 217, 0.2); */
  background: rgba(217, 217, 217, 0.2);
  width: 60vw;
}

.sponsors__center {
  width: 80%;
  display: flex;
  /* padding: 50px; */
  gap: 20px;
  padding-left: 5px;
  padding-right: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
}
.tedxEvents{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  padding-left: 50px;
  padding-right: 50px;
}
.tedxEventsLogo img{
  height: 100px;
  width: auto;

}
.learnMore{
  padding: 10px;
}
/* .learnMore a{
  text-decoration: underline;
} */
.fLFBYr {
  /* width: 80%; */
  color: white;
  font-family: 'Plus Jakarta Sans';
  /* margin-bottom: 30px; */
}



